# Directories #
/build/
/bin/
target/
*/gwt-unitCache/
/gwt-unitCache/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
classes

/HakunaContacta/war/hakunacontacta/sc/modules/ISC_Calendar.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_Containers.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_Core.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_DataBinding.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_Drawing.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_Forms.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_Foundation.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_Grids.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_History.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_PluginBridges.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_RichTextEditor.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_Scheduler.js
/HakunaContacta/war/hakunacontacta/sc/modules/ISC_Workflow.js
ISC_Calendar.js
ISC_Containers.js
ISC_Core.js
ISC_DataBinding.js
ISC_Drawing.js
ISC_Forms.js
ISC_Foundation.js
ISC_Grids.js
ISC_History.js
ISC_PluginBridges.js
ISC_RichTextEditor.js
ISC_Scheduler.js
ISC_Workflow.js
