/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
* {
	margin:0; 
	padding:0;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	text-align: left;
}

#wrapper {
	width: 1000px;
	height: 620px;
	margin: 0 auto;
}
#top {
	border: 1px solid;
	height: 60px;
}
#logo {
	border: 1px solid;
	width: 200px;
	height: 60px;
	float: left;
}
#title {
	border: 1px solid;
	width: 400px;
	height: 60px;
	margin-left:10px;
	float: left;
}
#menu {
	border: 1px solid;
	width: 300px;
	height: 20px;
	float:right;
}
#content {
	border: 1px solid;
	height: 480px;
	padding: 10px;
}
#footer {
	height: 60px;
}

.next {
    float: right;
    margin-right: 70px !important;
}

.page1{
	margin: 0 auto;
}

.contactGrid{

}

.selectionGrid{
	margin-left:50px;
}
.listTable {
    padding-left: 3px;
}

.mainPanel {
	margin: 5px auto;
	width: 650px;
}
.gridHeaders{
	font-size: 14pt;
}
#gridHeader1{
	float:left;
	margin-left: 30px;
	margin-bottom: 8px;
}
#gridHeader2{
	float:left;
	margin-left: 70px;
}
#gridHeader3{
	float:left;
	margin-left: 90px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/** TODO #01: define css style for login panel | start   */
.login-banner {
/**	background-color: #2D2D2D;*/
	color: #000;
	cursor: auto;
	font: 11px/27px Arial, sans-serif;
	font-weight: cursiv;
/**	left: 0;*/
	opacity: 1;
/**	position: absolute;*/
/**	top: 0; */
/**	width: 100%; */
/**	z-index: 990; */
}

.login-area,.login-area:hover,.login-area:visited {
	font-size: 13pt;
	font-weight: 300;
	color: #000;
	text-decoration: none;
}
/** TODO #01:> end   */

/* Add Stock panel */
.addPanel {
  float: right;
}


.grid2records a:hover{
	font-size: 18pt;
}

.addExportfieldTextBox {
	width: 150px;
}

.addExportfieldButton {
	width: 44px;
}