/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
* {
	margin:0; 
	padding:0;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	text-align: left;
}

#wrapper {
	width: 1000px;
	height: 620px;
	margin: 0 auto;
}
#top {
	border: 1px solid;
	height: 60px;
}
#logo {
	border: 1px solid;
	width: 200px;
	height: 60px;
	float: left;
}
#title {
	border: 1px solid;
	width: 400px;
	height: 60px;
	margin-left:10px;
	float: left;
}
#menu {
	width: 300px;
	padding: 15px;
	float:right;
}
#content {
	border: 1px solid;
	height: 480px;
	padding: 10px;
}
#footer {
	height: 60px;
}
#arrow{
	font-weight: bolder;
}

.next {
    float: right;
    margin-right: 20px !important;
    width: 203px;
}

.page1{
	margin: 0 auto;
}
.page2{
	margin: 0 auto;
}
.chooseFormat{
    margin-bottom: 5px;
    width: 140px;
    position: relative;
    top: 0px;
    left: 555px;
}

.exportFormat{
	position: relative;
	top: 22px;
	left: 470px;
}

.contactGrid{

}

.selectionGrid{
	margin-left:50px;
}
.listTable {
    padding-left: 3px;
}

.mainPanel {
	margin: 5px auto;
	width: 650px;
}
.gridHeaders{
	font-size: 14pt;
}
#gridHeader1{
	float:left;
	margin-left: 80px;
	margin-bottom: 8px;
}
#gridHeader2{
	float:left;
	margin-left: 120px;
	margin-right: 86px;
}
#gridHeader3{


}

#gridHeader21{
    float: left;
    left: 78px;
    position: relative
}
#gridHeader22{
    left: 440px;
    position: relative;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/** TODO #01: define css style for login panel | start   */
.login-banner {
/**	background-color: #2D2D2D;*/
	color: #000;
	cursor: auto;
	font: 11px/27px Arial, sans-serif;
	font-weight: cursiv;
/**	left: 0;*/
	opacity: 1;
/**	position: absolute;*/
/**	top: 0; */
/**	width: 100%; */
/**	z-index: 990; */
}

.login-area,.login-area:hover,.login-area:visited {
	font-size: 13pt;
	font-weight: 300;
	color: #000;
	text-decoration: none;
}
/** TODO #01:> end   */

/* Add Stock panel */
.addPanel {
    float: right;
    margin-right: -1px;
    top: -26px;
    width: 200px;
    position: relative;
    z-index: 200470;
}


.grid2records a:hover{
	font-size: 18pt;
}

.addExportfieldTextBox {
    width: 205px;
	height: 22px;
}

.addExportfieldButton {
	width: 44px;
	margin-top: -1px;
	height: 26px;
}

#tip2 {
	margin: 0 20px;
	text-align: center;
}

.exportButton{
    left: 456px;
    position: relative;
    width: 120px;
    top: -20px;
}
.downloadLink{
    left: 600px;
    position: relative;
    top: -45px;
}
.grids2{
	margin-top: 0px;
}