/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
* {
	margin:0; 
	padding:0;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
}

#p1info {
	color: #fff;
	position: relative;
	left: 22px;
	font-size: 13.5pt;
	top: 1px;
}

#info {
	position: absolute;
	right: 0;
	top: 0;
	color: #777777;
	width: 200px;
	display:none;
}


h1 {
    bottom: 16px;
    color: #777777;
    font-size: 4.5em;
    font-weight: bold;
    position: relative;
    text-align: left;
    font-family: 'Alef', normal;
}

h2 {
    color: #FFFFFF;
    font-size: 24pt;
    text-align: center;
    font-family: 'Alef',normal;
}
.whitetext {
	color: #fff;
}

#gcontacts2word {
	text-align: center;	
	margin-top: 50px;
	font-size: 11.5pt;
	font-family: 'Alef',normal;
}
#startlogin {
    color: #FFFFFF;
    font-size: 16pt;
    margin-top: 40px;
    text-align: center;
}
#arrow1 {
    bottom: 480px;
    left: 770px;
    position: relative;
	
}

#goodbye {
    margin-top: 100px;
    text-align: center;
}

#wrapper {
	border: 0px solid;
	width: 1000px;
	height: 620px;
	margin: 0 auto;
}
#top {
	border: 0px solid;
	height: 56px;
}
#logo {
    background-image: url("images/logo.png");
    border: 0 solid;
    float: left;
    height: 50px;
    position: relative;
    top: -1px;
    width: 50px;
}
#title {
	border: 0px solid;
	height: 56px;
	margin-left:10px;
	float: left;
}
#menu {
	width: 300px;
	padding: 15px;
	float:right;
}
#content {
	background-color: #4d4d4d;
	border: 1px solid 4d4d4d;
	border-top-left-radius: 20px;
    border-top-right-radius: 0px;
	border-bottom-left-radius: 20px;
   	border-bottom-right-radius: 20px;
	height: 480px;
	padding: 10px;
}
#content2 {
	background-color: #4d4d4d;
	border: 1px solid 4d4d4d;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
   	border-bottom-right-radius: 20px;
	height: 480px;
	padding: 10px;
}
#finallink{
	font-size: 16pt;
	color: #fff;
}
#footer {
	height: 60px;
}
#arrow{
	font-weight: bolder;
}

.firstBlue{
	color: #45a5fd;
}

.next {
	width: 203px;
	position: relative;
	left: 577px;
	top: -20;
}

.page1{
	margin: 0 auto;
}
.page2{
	margin: 0 auto;
}
.chooseFormat{
    font-size: 9pt;
    left: 535px;
    margin-bottom: 5px;
    position: relative;
    top: -40px;
    width: 170px;
}

.exportFormat{
    color: #FFFFFF;
    left: 456px;
    position: relative;
    top: -20px;
}

.contactGrid{

}

.selectionGrid{
	margin-left:50px;
}
.listTable {
    padding-left: 3px;
}

.mainPanel {
	margin: 5px auto;
	width: 650px;
}
.gridHeaders{
	font-size: 14pt;
}
#gridHeader1{
	float:left;
	margin-left: 80px;
	margin-bottom: 8px;
	color: #fff;
}
#gridHeader2{
	float:left;
	margin-left: 120px;
	margin-right: 86px;
	color: #fff;
}
#gridHeader3{
	color: #fff;
}

#gridHeader21{
	color: #fff;
    float: left;
    left: 54px;
    position: relative;
    text-align:center;
}
#gridHeader22{
	color: #fff;
    left: 388px;
    position: relative;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/** TODO #01: define css style for login panel | start   */
.login-banner {
/**	background-color: #2D2D2D;*/
	color: #000;
	cursor: auto;
	font: 11px/27px Arial, sans-serif;
	font-weight: cursiv;
/**	left: 0;*/
	opacity: 1;
/**	position: absolute;*/
/**	top: 0; */
/**	width: 100%; */
/**	z-index: 990; */
}

.login-area,.login-area:hover,.login-area:visited {
    background-color: #4D4D4D;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #FFFFFF;
    font-size: 13pt;
    font-weight: 300;
    left: 15px;
    padding: 9px;
    position: relative;
    text-decoration: none;
    top: 14px;
    z-index: 1000000;
}

.login-image {
    background-color: #4D4D4D;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    color: #FFFFFF;
    font-size: 13pt;
    font-weight: 300;
    left: 22px;
    padding: 9px;
    position: relative;
    text-decoration: none;
    top: 5px;
}
/** TODO #01:> end   */

/* Add Stock panel */
.addPanel {
    float: right;
    margin-right: -1px;
    top: -66px;
    width: 200px;
    position: relative;
    z-index: 200470;
}


.grid2records a:hover{
	font-size: 18pt;
}

.addExportfieldTextBox {
    width: 205px;
	height: 24px;
	margin-top: 2px;
	z-index: 200780;
}

.addExportfieldButton {
	width: 44px;
	margin-top: 1px;
	height: 26px;
	z-index: 200780;
}

#tip2 {
	margin: 0 6px;
	text-align: center;
	color: #fff;
	font-size: 9.5pt;
}

.exportButton{
    left: 458px;
    position: relative;
    width: 250px;
    top: -60px;
}

.zurueckButton{
    left: 0;
    position: relative;
    top: -90px;
    width: 250px;
}

.logoutButton{
    left: 0;
    position: relative;
    top: 92px;
    width: 250px;
}

#downloadLink {
    left: 300px;
    position: relative;
    top: -45px;
}
#downloadLink a{
    color: #fff;
    display: block;
    padding: 5px;
    background-color: #45a5fd;
    width: 200px;
}
.grids2{
    top: -40px !important;
}